.auth_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url('../../img/Rectangle_2.jpg') center center no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
}