.airportBlock{
    width: 680px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:65px 40px 54px;

    & h3{
        display: flex;
        justify-content: space-between;
        font-family: Roboto, sans-serif;
        font-size: 32px;
        font-weight: 500;
        

        & svg{
            margin: 0 20px;
        }

        & input[type="date"]{
            border:none;
            font-size: 25px;
            color: #1157A7;
        }
    }

    & .favs{
        text-align: left;
        font-size: 17px;

        & span{
            color:#1157A7;
        }
    }
}